In [1]:
import pandas as pd
import os

In [2]:
import pprint

# Carga de archivo rigido

In [3]:
nombreDePozo = input("Ingresa el nombre del Pozo: ")
rutaArchivo = input("Copia y pega la ruta del archivo por favor: \n")

In [4]:
df = pd.read_excel(f"{rutaArchivo}/PETROFISICA {nombreDePozo}.xls", sheet_name="NUMERICO")

In [3]:
#df = pd.read_excel("D:/Documents and settings/gonzalezgta/Desktop/Petrofisica Carito/Imagenes Petrofisicas/PETROFISICA MUC-108.xls", sheet_name = "NUMERICO")

In [5]:
print(df.head())

      DEPTH   Vshl   PHIE Sw R40_RQI      R KTIMUR PERMFZIK PERMFZIK1 PERMFZI  \
0     14426  0.403  0.011  1   0.014  0.001      0      NaN         0     NaN
1  14426.25  0.401  0.011  1   0.014  0.001      0      NaN         0     NaN
2   14426.5  0.397  0.011  1   0.014  0.001      0      NaN         0     NaN
3  14426.75  0.393  0.011  1   0.014  0.001      0      NaN         0     NaN
4     14427  0.392  0.011  1   0.014  0.001      0      NaN         0     NaN

      RT LIG      GR Rshl ANT ANP ZONA
0  0.778   0  84.725  1.5   0   0    0
1  0.812   0  84.327  1.5   0   0    0
2  0.867   0   83.72  1.5   0   0    0
3  0.938   0  83.212  1.5   0   0    0
4   1.02   0  82.954  1.5   0   0    0

In [6]:
print(df.describe())

        DEPTH      Vshl      PHIE    Sw   R40_RQI         R  KTIMUR  PERMFZIK  \
count    8020  7993.000  7932.000  7892  7892.000  7892.000    7892      6917
unique   8020   699.000   178.000   862  3216.000  3209.000    3563      4243
top     14426     0.042     0.001     1     0.012     0.001       0         0
freq        1    93.000   279.000  1672   175.000  1321.000    1764       777

        PERMFZIK1  PERMFZI        RT   LIG        GR  Rshl      ANT   ANP  \
count        7892     6917  7892.000  8021  7991.000  7998  8020.00  8020
unique       4162     3910  7522.000     3  7569.000     8     3.00     3
top             0        0     1.456     0    14.162     4     0.25     0
freq         1287      351     4.000  7930     3.000  2224  5723.00  4394

        ZONA
count   7998
unique     9
top        6
freq    2224

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8023 entries, 0 to 8022
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DEPTH      8020 non-null   object
 1   Vshl       7993 non-null   object
 2   PHIE       7932 non-null   object
 3   Sw         7892 non-null   object
 4   R40_RQI    7892 non-null   object
 5   R          7892 non-null   object
 6   KTIMUR     7892 non-null   object
 7   PERMFZIK   6917 non-null   object
 8   PERMFZIK1  7892 non-null   object
 9   PERMFZI    6917 non-null   object
 10  RT         7892 non-null   object
 11  LIG        8021 non-null   object
 12  GR         7991 non-null   object
 13  Rshl       7998 non-null   object
 14  ANT        8020 non-null   object
 15  ANP        8020 non-null   object
 16  ZONA       7998 non-null   object
dtypes: object(17)
memory usage: 1.0+ MB
None

# Asignacion a variable de limpieza de filas con valores "NaN" o "Nulls"

In [8]:
df_without_nulls = df.dropna()

In [9]:
print(df_without_nulls.head())

        DEPTH   Vshl   PHIE     Sw R40_RQI      R KTIMUR PERMFZIK PERMFZIK1  \
976     14670  0.069  0.069   0.99   0.122  0.122  0.069    4.355     0.069
977  14670.25  0.086  0.057   0.99   0.087  0.087  0.029    1.392     0.029
978   14670.5   0.11  0.046   0.99    0.06   0.06  0.011    0.489     0.011
979  14670.75   0.14  0.036  0.997    0.04   0.04  0.004    0.129     0.004
980     14671  0.175  0.029      1   0.027  0.027  0.001    0.046     0.001

    PERMFZI     RT LIG      GR Rshl   ANT ANP ZONA
976   1.987  8.451   0  21.271  1.5  0.25   0    1
977   0.804  6.972   0  25.517  1.5  0.25   0    1
978   0.309  5.829   0  31.109  1.5  0.25   0    1
979   0.118  4.939   0  37.918  1.5  0.25   0    1
980    0.05  4.242   0  45.258  1.5  0.25   0    1

# Investigación de tipo de dato por columna

In [10]:
dtypes = df_without_nulls.dtypes
print(dtypes)

DEPTH        object
Vshl         object
PHIE         object
Sw           object
R40_RQI      object
R            object
KTIMUR       object
PERMFZIK     object
PERMFZIK1    object
PERMFZI      object
RT           object
LIG          object
GR           object
Rshl         object
ANT          object
ANP          object
ZONA         object
dtype: object

# Investigación de archivos unicos en una columna

In [11]:
types = df_without_nulls["PHIE"].unique()
print(types)

[0.069 0.057 0.046 0.036 0.029 0.024 0.021 0.019 0.02 0.022 0.023 0.026
 0.027 0.028 0.03 0.031 0.025 0.018 0.017 0.016 0.015 0.014 0.013 0.012
 0.011 0.035 0.039 0.041 0.037 0.04 0.044 0.048 0.053 0.06 0.062 0.064
 0.063 0.061 0.059 0.056 0.055 0.058 0.054 0.052 0.05 0.049 0.047 0.043
 0.042 0.066 0.08 0.084 0.098 0.099 0.109 0.113 0.111 0.106 0.092 0.087
 0.086 0.078 0.067 0.068 0.077 0.076 0.093 0.096 0.079 0.001 0.008 0.009
 0.065 0.051 0.034 0.033 0.045 0.071 0.072 0.082 0.09 0.103 0.118 0.117
 0.125 0.124 0.123 0.115 0.116 0.108 0.097 0.095 0.081 0.032 0.074 0.083
 0.091 0.038 0.088 0.107 0.119 0.12 0.122 0.121 0.112 0.145 0.176 0.175
 0.196 0.192 0.193 0.169 0.17 0.143 0.144 0.129 0.101 0.089 0.1 0.102
 0.105 0.104 0.11 0.114 0.126 0.007 0.085 0.075 0.006 0.01 0.07 0.073
 0.094 0.003 0.002 0.004 0.005 0.128 0.13 0.131 0.132 0.133 0.134 0.135
 0.136 0.127 0.14 0.142 0.141 0.138 0.137 0.139 0.171 0.207 0.222 0.216
 0.219 0.174 0.173 0.147 0.146 '-------']

# Eliminación de ultima fila por ser un "string"

In [12]:
df_sin_ultima = df_without_nulls.drop(df_without_nulls.index[-1])
print(df_sin_ultima)

         DEPTH   Vshl   PHIE     Sw R40_RQI      R KTIMUR PERMFZIK PERMFZIK1  \
976      14670  0.069  0.069   0.99   0.122  0.122  0.069    4.355     0.069
977   14670.25  0.086  0.057   0.99   0.087  0.087  0.029    1.392     0.029
978    14670.5   0.11  0.046   0.99    0.06   0.06  0.011    0.489     0.011
979   14670.75   0.14  0.036  0.997    0.04   0.04  0.004    0.129     0.004
980      14671  0.175  0.029      1   0.027  0.027  0.001    0.046     0.001
...        ...    ...    ...    ...     ...    ...    ...      ...       ...
7887     16397  0.374  0.065   0.99    0.11   0.11  0.052    0.017     0.051
7888  16397.25  0.375  0.064   0.99    0.11   0.11   0.05    0.016      0.05
7889   16397.5  0.385  0.059   0.99   0.095  0.095  0.033     0.01     0.035
7890  16397.75  0.401  0.056   0.99   0.088  0.088  0.026    0.008      0.03
7891     16398   0.42  0.049   0.99   0.073  0.073  0.015    0.005     0.019

     PERMFZI     RT LIG      GR Rshl   ANT ANP ZONA
976    1.987  8.451   0  21.271  1.5  0.25   0    1
977    0.804  6.972   0  25.517  1.5  0.25   0    1
978    0.309  5.829   0  31.109  1.5  0.25   0    1
979    0.118  4.939   0  37.918  1.5  0.25   0    1
980     0.05  4.242   0  45.258  1.5  0.25   0    1
...      ...    ...  ..     ...  ...   ...  ..  ...
7887   0.345  2.345   0  90.054  4.5     0   0    7
7888   0.337  2.357   0  90.361  4.5     0   0    7
7889   0.246  2.369   0  91.819  4.5     0   0    7
7890   0.206  2.381   0  94.214  4.5     0   0    7
7891   0.135  2.392   0  97.014  4.5     0   0    7

[6912 rows x 17 columns]

In [13]:
dtypes = df_sin_ultima.dtypes
print(dtypes)

DEPTH        object
Vshl         object
PHIE         object
Sw           object
R40_RQI      object
R            object
KTIMUR       object
PERMFZIK     object
PERMFZIK1    object
PERMFZI      object
RT           object
LIG          object
GR           object
Rshl         object
ANT          object
ANP          object
ZONA         object
dtype: object

In [14]:
averages = df_sin_ultima.mean()
print(averages)

DEPTH        15534.117766
Vshl             0.178818
PHIE             0.069328
Sw               0.511381
R40_RQI          1.743306
R                1.741977
KTIMUR           7.714832
PERMFZIK        61.809393
PERMFZIK1       25.083601
PERMFZI          8.633834
RT              98.294667
LIG              0.013021
GR              42.591133
Rshl             3.180122
ANT              0.191804
ANP               0.12576
ZONA             4.360243
dtype: object

In [15]:
average_phie = df_sin_ultima.query("DEPTH >= 15817 & DEPTH <= 15854")["Vshl"].mean()
print(average_phie)

0.06316107382550336

# Input para especificar curvas necesarias

In [16]:
curvas = []
user_input = input("Cuales Curvas Quieres Usar? Separadas por coma \n")
curvas = user_input.split(",")
print(curvas)

['Vshl', 'PHIE', 'Sw', 'PERMFZIK']

In [17]:
print(df.columns)

Index(['DEPTH', 'Vshl', 'PHIE', 'Sw', 'R40_RQI', 'R', 'KTIMUR', 'PERMFZIK',
       'PERMFZIK1', 'PERMFZI', 'RT', 'LIG', 'GR', 'Rshl', 'ANT', 'ANP',
       'ZONA'],
      dtype='object')

#  Ciclo "for" para calcular parametros de curvas especificadas en un input previo entre valores fijos

In [17]:
for curva in curvas:
    average_per_column = df_sin_ultima.query("DEPTH >= 15817 & DEPTH <= 15854")[curva].mean()
    print(f"{curva}: {average_per_column.round(3)}")

Vshl: 0.063
PHIE: 0.119
Sw: 0.204
PERMFZIK: 108.7

# Ciclo "for" para calcular parametros de todo el dataframe entre valores fijos

In [18]:
for column in df_sin_ultima:
    average_per_column = df_sin_ultima.query("DEPTH >= 15817 & DEPTH <= 15854")[column].mean()
    print(f"{column}: {average_per_column.round(3)}")

DEPTH: 15835.5
Vshl: 0.063
PHIE: 0.119
Sw: 0.204
R40_RQI: 3.267
R: 3.267
KTIMUR: 20.827
PERMFZIK: 108.7
PERMFZIK1: 38.08
PERMFZI: 11.464
RT: 211.951
LIG: 0.0
GR: 19.714
Rshl: 4.0
ANT: 0.25
ANP: 0.248
ZONA: 6.0

In [19]:
intervalos = {}
intervalos_lista = []
want_continue = True

while want_continue:
    intervalo_tope = input("Cual es el tope del intervalo? \n")
    intervalos_lista.append(int(intervalo_tope))
    
    intervalo_base = input("Cual es la base del intervalo? \n")
    intervalos_lista.append(int(intervalo_base))
    
    intervalos.update({"Intervalo": intervalo_tope + " - " + intervalo_base})
    
    for column in df_sin_ultima:
        average_per_column = df_sin_ultima.query(f"DEPTH >= {intervalo_tope} & DEPTH <= {intervalo_base}")[column].mean()
        intervalos.update({column: average_per_column})
        print(f"{column}: {average_per_column.round(3)}")
    
    otro_intervalo = input("Excelente, quisieras ingresar otro intervalo? S/N \n")
    if otro_intervalo == "N":
        want_continue = False
    
    print(intervalos)
    print(intervalos_lista)
    
print("Gracias por usar el automatizador de sumarios")

Cual es el tope del intervalo?
15756
Cual es la base del intervalo?
15771
DEPTH: 15763.5
Vshl: 0.066
PHIE: 0.118
Sw: 0.199
R40_RQI: 3.343
R: 3.343
KTIMUR: 19.999
PERMFZIK: 105.051
PERMFZIK1: 38.351
PERMFZI: 10.379
RT: 262.032
LIG: 0.0
GR: 20.385
Rshl: 4.0
ANT: 0.25
ANP: 0.25
ZONA: 6.0
Excelente, quisieras ingresar otro intervalo? S/N
n
{'Intervalo': '15756 - 15771', 'DEPTH': 15763.5, 'Vshl': 0.06580327868852459, 'PHIE': 0.11821311475409833, 'Sw': 0.19932786885245904, 'R40_RQI': 3.343409836065573, 'R': 3.343409836065573, 'KTIMUR': 19.999016393442627, 'PERMFZIK': 105.050868852459, 'PERMFZIK1': 38.3512131147541, 'PERMFZI': 10.379131147540983, 'RT': 262.0321803278688, 'LIG': 0.0, 'GR': 20.385163934426235, 'Rshl': 4.0, 'ANT': 0.25, 'ANP': 0.25, 'ZONA': 6.0}
[15756, 15771]
Cual es el tope del intervalo?
15756
Cual es la base del intervalo?
15771
DEPTH: 15763.5
Vshl: 0.066
PHIE: 0.118
Sw: 0.199
R40_RQI: 3.343
R: 3.343
KTIMUR: 19.999
PERMFZIK: 105.051
PERMFZIK1: 38.351
PERMFZI: 10.379
RT: 262.032
LIG: 0.0
GR: 20.385
Rshl: 4.0
ANT: 0.25
ANP: 0.25
ZONA: 6.0
Excelente, quisieras ingresar otro intervalo? S/N
N
{'Intervalo': '15756 - 15771', 'DEPTH': 15763.5, 'Vshl': 0.06580327868852459, 'PHIE': 0.11821311475409833, 'Sw': 0.19932786885245904, 'R40_RQI': 3.343409836065573, 'R': 3.343409836065573, 'KTIMUR': 19.999016393442627, 'PERMFZIK': 105.050868852459, 'PERMFZIK1': 38.3512131147541, 'PERMFZI': 10.379131147540983, 'RT': 262.0321803278688, 'LIG': 0.0, 'GR': 20.385163934426235, 'Rshl': 4.0, 'ANT': 0.25, 'ANP': 0.25, 'ZONA': 6.0}
[15756, 15771, 15756, 15771]
Gracias por usar el automatizador de sumarios

## Calculo de parametros petrofísicos con todas las curvas disponibles en el dataframe

In [20]:
intervalos = {}
intervalos_lista = []
want_continue = True

while want_continue:
    intervalo_tope = input("Cual es el tope del intervalo? \n")
    
    intervalo_base = input("Cual es la base del intervalo? \n")
    
    intervalos.update({"Intervalo": intervalo_tope + " - " + intervalo_base})
    
    for column in df_sin_ultima:
        average_per_column = df_sin_ultima.query(f"DEPTH >= {intervalo_tope} & DEPTH <= {intervalo_base}")[column].mean()
        intervalos.update({column: average_per_column})
    
    intervalos_lista.append(intervalos)
    
    intervalos = {}
    
    otro_intervalo = input("Excelente, quisieras ingresar otro intervalo? S/N \n")
    if otro_intervalo == "N":
        want_continue = False
    
print(intervalos_lista)
    
print("Gracias por usar el automatizador de sumarios")

Cual es el tope del intervalo?
15756
Cual es la base del intervalo?
15771
Excelente, quisieras ingresar otro intervalo? S/N
N
[{'Intervalo': '15756 - 15771', 'DEPTH': 15763.5, 'Vshl': 0.06580327868852459, 'PHIE': 0.11821311475409833, 'Sw': 0.19932786885245904, 'R40_RQI': 3.343409836065573, 'R': 3.343409836065573, 'KTIMUR': 19.999016393442627, 'PERMFZIK': 105.050868852459, 'PERMFZIK1': 38.3512131147541, 'PERMFZI': 10.379131147540983, 'RT': 262.0321803278688, 'LIG': 0.0, 'GR': 20.385163934426235, 'Rshl': 4.0, 'ANT': 0.25, 'ANP': 0.25, 'ZONA': 6.0}]
Gracias por usar el automatizador de sumarios

## Calculo de parametros petrofisicos a partir de input con las curvas que quiero ver

In [18]:
intervalos = {}
intervalos_lista = []
want_continue = True

while want_continue:
    intervalo_tope = int(input("Cual es el tope del intervalo? \n"))
    intervalos.update({"Tope": intervalo_tope})
    
    intervalo_base = int(input("Cual es la base del intervalo? \n"))
    intervalos.update({"Base": intervalo_base})
    
    intervalos.update({"Espesor": intervalo_base - intervalo_tope})
    intervalos.update({"ANP": intervalo_base - intervalo_tope})
    
    for column in curvas:
        average_per_column = df_sin_ultima.query(f"DEPTH >= {intervalo_tope} & DEPTH <= {intervalo_base}")[column].mean()
        intervalos.update({column: average_per_column.round(3)})
    
    intervalos_lista.append(intervalos)
    
    intervalos = {}
    
    otro_intervalo = input("Excelente, quisieras ingresar otro intervalo? S/N \n")
    if otro_intervalo == "N":
        want_continue = False

pprint.pprint(intervalos_lista)

print("\n Gracias por usar el automatizador de sumarios \n")

[{'ANP': 15,
  'Base': 15771,
  'Espesor': 15,
  'PERMFZIK': 105.051,
  'PHIE': 0.118,
  'Sw': 0.199,
  'Tope': 15756,
  'Vshl': 0.066},
 {'ANP': 37,
  'Base': 15854,
  'Espesor': 37,
  'PERMFZIK': 108.7,
  'PHIE': 0.119,
  'Sw': 0.204,
  'Tope': 15817,
  'Vshl': 0.063},
 {'ANP': 14,
  'Base': 15910,
  'Espesor': 14,
  'PERMFZIK': 17.225,
  'PHIE': 0.118,
  'Sw': 0.252,
  'Tope': 15896,
  'Vshl': 0.144}]

 Gracias por usar el automatizador de sumarios

In [19]:
df_sumario = pd.DataFrame(columns = intervalos_lista[0].keys())
df_sumario

Empty DataFrame
Columns: [Tope, Base, Espesor, ANP, Vshl, PHIE, Sw, PERMFZIK]
Index: []

In [20]:
#Accediendo a cada index de la lista para extraer una fila de datos

for i in range(0,len(intervalos_lista)):
    individual_row_data = (intervalos_lista[i].values())
    
    length = len(df_sumario)
    print(len(df_sumario), " <- Fila cargada en el index")
    df_sumario.loc[length] = individual_row_data

0  <- Fila cargada en el index
1  <- Fila cargada en el index
2  <- Fila cargada en el index

In [21]:
df_sumario

      Tope     Base  Espesor   ANP   Vshl   PHIE     Sw  PERMFZIK
0  15756.0  15771.0     15.0  15.0  0.066  0.118  0.199   105.051
1  15817.0  15854.0     37.0  37.0  0.063  0.119  0.204   108.700
2  15896.0  15910.0     14.0  14.0  0.144  0.118  0.252    17.225

In [22]:
df_sumario = df_sumario.astype({
    "Tope": "int",
    "Base": "int",
    "Espesor": "int",
    "ANP": "int"
})
df_sumario

    Tope   Base  Espesor  ANP   Vshl   PHIE     Sw  PERMFZIK
0  15756  15771       15   15  0.066  0.118  0.199   105.051
1  15817  15854       37   37  0.063  0.119  0.204   108.700
2  15896  15910       14   14  0.144  0.118  0.252    17.225

In [23]:
nombreDePozo = input("Ingresa el nombre del Pozo: ")
df_sumario.to_csv(f"{rutaArchivo}/SumarioPetrofisico_{nombreDePozo}.csv", index = False)

In [81]:
#nombreDePozo = input("Ingresa el nombre del Pozo: ")
#df_sumario.to_csv(f"D:/Documents and settings/gonzalezgta/Desktop/Petrofisica Carito/Sumarios/SumarioPetrofisico_{nombreDePozo}.csv", index = False)

Ingresa el nombre del Pozo: MUC-108